@model (string Type, short Number, byte[] Data)
@{
    string n = Model.Number.ToString();
    string value = Convert.ToBase64String(Model.Data);
}


<div class="edit_article_img" id=@("c" + n)>

    <img class="edit_article_drop" src="~/icons/plus.png"
         title="Сброс поля" id=@("drop" + n)>

    <img class="edit_article_bottons edit_article_icon" src="~/icons/image.png" title="Изображение">

    <div class="edit_article_img_cont">
        @Html.Raw("<img class='edit_article_img_prev' id=\"preview" + n + "\"  " +
        "src=\"data:image/png; base64," + value + "\" />")

        <img class="edit_article_img_down_icon" src="~/icons/image.png"
             title="Загрузить изображение" id=@("download" + n)>

        <input class="edit_article_img_down" style="opacity: 0;" type="file" multiple="" accept="image/*"
               id=@(Model.Type + n) name=@(Model.Type + n)>
    </div>
</div>


@await Html.PartialAsync("_jsContainerImgPartialPartial")


