@await Html.PartialAsync("_jsCreateEditArticlePartial")

<form asp-action="EditCreateArticle" asp-controller="EditArticle" method="post">

    <label class="edit_section_record">Ветвь:</label>
    <select class="edit_section_parent" name="section">
        @{
            List<Section> sections = ViewData["Sections"] as List<Section>;
            foreach (var item in sections)
            {
                <option value="@item" class="edit_section_parent_section">@item.Name</option>
            }
        }
    </select>


    <label class="edit_section_record">Название:</label>
    <input class="edit_profile_name edit_section_name" type="text" name="name">


    <label class="edit_section_record">Содержание:</label>
    <div id="fields">
        <script>
            addFieldText(0);
        </script>
    </div>


    <button class="standart_buttom edit_profile_botton">Сохранить</button>

</form>

<div class="out edit_profile_drop">
    <a class="a_botton" asp-action="DropArticle" asp-controller="EditArticle">
        Сбросить
    </a>
</div>
