@model Autor

<div class="liked liked_some_profile">
    <a class="a_botton" asp-action="FavoriteSections" asp-controller="Sections" asp-route-id="@Model.Id">
        <p class="liked_title">Избранные ветви:</p>
    </a>

    @{
        var sections = Model.FavSections.Take(5);
        foreach (var item in sections)
        {
            Section s = item.IdsectionNavigation;

            <div class="liked_branch">
                <a class="a_botton" asp-action="Section" asp-controller="Section" asp-route-id="@s.Id">
                    @s.Name
                </a>
            </div>
        }
    }

    <a class="a_botton" asp-action="FavoriteSections" asp-controller="Sections" asp-route-id="@Model.Id">
        <p class="recomended_dots">. . .</p>
    </a>
</div>