<div class="autor_inf">
    <img class="autor_img" src="css/icons/acorn.png">
    <p class="autor_name">MAXXXYMIRON</p>
    <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <img class="profile_settings" src="~/icons/settings.png">
    </a>
    <p class="autor_status"> Go fuck your self.</p>
</div>
