<div class="liced_articles">
    <p class="liced_articles_title">Созданные ветви</p>

    <p class="profile_howmuch">Ветвей: 4</p>
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <img class="profile_make" src="css/icons/write.png">
    </a>



    <div class="setting_section">
        <div class="liked_branch section_profile">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                Раздел
            </a>
        </div>
        <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
            <img class="half_article_favorite " src="css/icons/settings.png">
        </a>
    </div>

    <div class="setting_section">
        <div class="liked_branch section_profile">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                Раздеawefwergwлwferluifhweoiruwfr
            </a>
        </div>
        <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
            <img class="half_article_favorite " src="css/icons/settings.png">
        </a>
    </div>

    <div class="setting_section">
        <div class="liked_branch section_profile">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                Раздел
            </a>
        </div>
        <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
            <img class="half_article_favorite " src="css/icons/settings.png">
        </a>
    </div>

    <div class="setting_section">
        <div class="liked_branch section_profile">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                Раздел
            </a>
        </div>
        <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
            <img class="half_article_favorite " src="css/icons/settings.png">
        </a>
    </div>
</div>