@model Autor

<div class="liced_articles">
    <p class="liced_articles_title ">Созданные статьи</p>

    <p class="profile_howmuch">Статей: @Model.Articles.Count</p>

    <a class="a_botton" asp-action="EditCreateArticle" asp-controller="EditArticle">
        <img class="profile_make" src="~/icons/write.png">
    </a>
    <br><br><br><br>

    @{
        var articles = Model.Articles.Take(3);
        foreach (var item in articles)
        {
            @await Html.PartialAsync("~/Views/Articles/_HalfArticlePartial.cshtml", item)
        }
    }

    <a class="a_botton" asp-action="CreatedArticles" asp-controller="Articles" asp-route-id="@Model.Id">
        <p class="liced_articles_dots">. . .</p>
    </a>
</div>


