<div class="liked liked_some_profile">
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <p class="liked_title">В избранном у:</p>
    </a>

    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <div class="liked_autor">
            <img class="liked_autor_img" src="css/icons/acorn.png">
            <p class="liked_autor_name">deleted</p>
        </div>
    </a>
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <div class="liked_autor">
            <img class="liked_autor_img" src="css/icons/acorn.png">
            <p class="liked_autor_name">deleted</p>
        </div>
    </a>
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <div class="liked_autor">
            <img class="liked_autor_img" src="css/icons/acorn.png">
            <p class="liked_autor_name">deleted</p>
        </div>
    </a>
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <div class="liked_autor">
            <img class="liked_autor_img" src="css/icons/acorn.png">
            <p class="liked_autor_name">deleted</p>
        </div>
    </a>
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <p class="recomended_dots">. . .</p>
    </a>
</div>