<div class="liced_articles">
    <p class="liced_articles_title ">Созданные статьи</p>
    <p class="profile_howmuch">Статей: 2</p>
    <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
        <img class="profile_make" src="css/icons/write.png">
    </a>
    <br><br><br><br>



    <!-- Полу-статья -->
    <div class="half_article">

        <div class="half_article_title_inf">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                <h1 class="half_article_title">Title</h1>
            </a>

            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                <img class="half_article_favorite" src="css/icons/settings.png">
            </a>
        </div>

        <div class="half_article_content_inf">
            <img class="half_article_prewie" src="css/icons/acorn.png" />

            <p class="half_article_text">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
            </p>
        </div>

        <div class="botton">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                Раздел
            </a>
        </div>

        <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
            <div class="half_article_autor">
                <img class="half_article_autor_img" src="css/icons/acorn.png" /></img>
                <div class="half_article_autor_name">deleted</div>
            </div>
        </a>

        <div class="half_article_date">00.00.0000</div>
    </div>

    <div class="half_article">

        <div class="half_article_title_inf">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                <h1 class="half_article_title">Title</h1>
            </a>

            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                <img class="half_article_favorite" src="css/icons/settings.png">
            </a>
        </div>

        <div class="half_article_content_inf">
            <img class="half_article_prewie" src="css/icons/acorn.png" />

            <p class="half_article_text">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
            </p>
        </div>

        <div class="botton">
            <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
                Раздел
            </a>
        </div>

        <a class="a_botton" href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">
            <div class="half_article_autor">
                <img class="half_article_autor_img" src="css/icons/acorn.png" /></img>
                <div class="half_article_autor_name">deleted</div>
            </div>
        </a>

        <div class="half_article_date">00.00.0000</div>
    </div>
</div>
