@model Autor

<div class="content">
    @* Остновная информация о профиле *@
    @await Html.PartialAsync("_ProfileInformationPartial", Model)


    @* Пользователи, у которых данный профиль в избранном *@
    @await Html.PartialAsync("_ProfileInFavoritesPartial", Model)

    @* Избранные профилем пользователи *@
    @await Html.PartialAsync("_ProfileFavoriteAutorsPartial", Model)

    @* Избранные профилем разделы *@
    @await Html.PartialAsync("_ProfileFavoriteSectionsPartial", Model)


    @* Избранные профилем статьи *@
    @await Html.PartialAsync("_ProfileFavoriteArticlesPartial", Model)


    @* Созданные профилем статьи *@
    @await Html.PartialAsync("_ProfileCreatedArticlesPartial", Model)

    @* Созданные профилем разделы *@
    @await Html.PartialAsync("_ProfileCreatedSectionsPartial", Model)


    <div class="out">
        <a class="a_botton" asp-action="Logout" asp-controller="Login">
            Выйти
        </a>
    </div>
</div>