@model List<Section>

<div>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_HalfSectionPartial", item)
    }

    <div class="nextback">
        <div class="botton">
            <a class="a_botton" asp-controller="Sections" asp-action="All"
               asp-route-start="@(--ViewBag.Start)">
                Назад
            </a>
        </div>

        <div class="botton">
            <a class="a_botton" asp-controller="Sections" asp-action="All"
               asp-route-start="@((Model.Count != 0) ? ViewBag.Start + 2 : 0)">
                Ещё
            </a>
        </div>
    </div>
</div>