@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<header>
    <a asp-controller="Articles" asp-action="News" title="Новое">
        <img class="header_oak_icon" src="~/icons/oak.png">
        <div class="header_oak_name">ДУБ</div>
    </a>

    <a asp-controller="Sections" asp-action="All" title="Все ветви">
        <div class="header_branch_name">Ветви</div>
        <img class="header_branch_icon" src="~/icons/branch.png">
    </a>

    @if (CurrentUser != null)
    {
        <a asp-controller="Autors" asp-action="Autor" 
           asp-route-id="@CurrentUser.ID" title="Профиль">
            <div class="header_profile_center">
                @Html.Raw("<img class='header_profile' " +
                "src=\"data:image/png; base64," + Convert.ToBase64String(CurrentUser.Avatar) + "\" />")
            </div>
        </a>
    }
    else
    {
        <a asp-controller="Login" asp-action="SignIn" title="Профиль">
            <div class="header_profile_center">
                <img class="header_profile" src="~/icons/user.png">
            </div>
        </a>
    }
</header>