@model byte[]

<header>
    <a asp-controller="Articles" asp-action="Articles">
        <img class="header_oak_icon" src="~/icons/oak.png">
        <div class="header_oak_name">ДУБ</div>
    </a>

    <a asp-controller="Sections" asp-action="Sections">
        <div class="header_branch_name">Ветви</div>
        <img class="header_branch_icon" src="~/icons/branch.png">
    </a>

    <a asp-controller="Profile" asp-action="Profile">
        @if (Model != null)
        {
            @Html.Raw("<img class='header_profile' " +
            "src=\"data:image/png; base64," + Convert.ToBase64String(Model) + "\" />")
        }
        else
        {
            <img class="header_profile" src="~/icons/acorn.png">
        }
    </a>

    <a asp-controller="Articles" asp-action="NewsArticleseFromFavorite">
        <img class="header_favorite" src="~/icons/leaf.png">
    </a>
</header>