<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
    @await Html.PartialAsync("_jsPartial")
</head>
<body>
    <div class="wraper">

        @await Html.PartialAsync("_HeaderPartial")

        <div class="content">
            @RenderBody()
        </div>

        @await Html.PartialAsync("_FooterPartial")

    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

