@inject ICurrentUserAvatar CurrentUserAvatar
@{ 
    byte[] Avatar = CurrentUserAvatar.GetAvatar().Result;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
    @await Html.PartialAsync("_jsPartial")
</head>
<body>
    <div class="wraper">

        @await Html.PartialAsync("_HeaderPartial", Avatar)

        <div class="content">
            @RenderBody()
        </div>

        @await Html.PartialAsync("_FooterPartial")

    </div>
</body>
</html>
