@inject ICurrentUser currUser
@{ 
    Autor CurrentUser = currUser.GetInformation().Result;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
    @await Html.PartialAsync("_jsPartial")
</head>
<body>
    <div class="wraper">

        @await Html.PartialAsync("_HeaderPartial", User.Identity.Name)

        <div class="content">
            <h1>@ViewBag.CurrentUser?.Name</h1>
            @RenderBody()
        </div>

        @await Html.PartialAsync("_FooterPartial")

    </div>
</body>
</html>
