@model Autor
@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<div class="content">
    @* Остновная информация об авторе*@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorInformationPartial.cshtml", Model)


    @* Пользователи, у которых данный автор в избранном *@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorInFavoritesPartial.cshtml", Model)

    @* Избранные автором пользователи *@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorFavoriteAutorsPartial.cshtml", Model)

    @* Избранные автором разделы *@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorFavoriteSectionsPartial.cshtml", Model)


    @* Избранные автором статьи *@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorFavoriteArticlesPartial.cshtml", Model)


    @* Созданные автором статьи *@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorCreatedArticlesPartial.cshtml", Model)

    @* Созданные автором разделы *@
    @await Html.PartialAsync("~/Views/Autors/Autor/_AutorCreatedSectionsPartial.cshtml", Model)


    @if (Model.Id == CurrentUser?.Id)
    {
        <div class="out">
            <a class="a_botton" asp-controller="Login" asp-action="SignOut">
                Выйти
            </a>
        </div>
    }
</div>