@model Autor
@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<div class="liced_articles">
    <a class="a_botton" asp-controller="Articles" asp-action="FavoriteArticles" asp-route-id="@Model.Id">
        <p class="liced_articles_title">Избранные статьи</p>
    </a>

    @{
        var articles = Model.FavArticles.Take(3);
        foreach (var item in articles)
        {
            @await Html.PartialAsync("~/Views/Articles/_HalfArticlePartial.cshtml",
                item.IdarticleNavigation)
        }
    }

    <a class="a_botton" asp-controller="Articles" asp-action="FavoriteArticles" asp-route-id="@Model.Id">
        <p class="liced_articles_dots">. . .</p>
    </a>
</div>