@model Autor
@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<div class="liced_articles">

    <a class="a_botton" asp-controller="Sections" asp-action="CreatedSections" asp-route-id="@Model.ID">
        <p class="liced_articles_title">Созданные ветви</p>
    </a>

    @if (Model.ID == CurrentUser?.ID)
    {
        <p class="profile_howmuch">Ветвей: @ViewBag.CountOfSections</p>
        <a class="a_botton" asp-controller="EditSection" asp-action="EditCreate">
            <img class="profile_make" src="~/icons/write.png">
        </a>
        <br><br><br><br>
    }
    <div class="liced_sections">
        @{
            var sections = Model.Sections;
            foreach (var item in sections)
            {
                @await Html.PartialAsync("~/Views/Sections/_HalfSectionPartial.cshtml", item)
            }
        }
    </div>

    <a class="a_botton" asp-controller="Sections" asp-action="CreatedSections" asp-route-id="@Model.ID">
        <p class="liced_articles_dots">. . .</p>
    </a>

</div>