@model Autor
@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<div class="liced_articles">

    <a class="a_botton" asp-controller="Articles" asp-action="CreatedArticles" asp-route-id="@Model.ID">
        <p class="liced_articles_title">Созданные статьи</p>
    </a>

    <p class="profile_howmuch">Статей: @ViewBag.CountOfArticles</p>
    @if (Model.ID == CurrentUser?.ID)
    {
        <a class="a_botton" asp-controller="EditArticle" asp-action="EditCreate">
            <img class="profile_make" src="~/icons/write.png">
        </a>
    }

    <br><br><br><br>
    @{
        var articles = Model.Articles;
        foreach (var item in articles)
        {
            @await Html.PartialAsync("~/Views/Articles/_HalfArticlePartial.cshtml", item)
        }
    }

    <a class="a_botton" asp-controller="Articles" asp-action="CreatedArticles" asp-route-id="@Model.ID">
        <p class="liced_articles_dots">. . .</p>
    </a>
</div>


