@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  background-color: #f5fdff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1400px;
  max-width: 1500px;
}

.logo {
  background-color: #747a8d;
  height: auto;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  color: #b1ffc3;
  padding-bottom: 5px;
}
img.logo {
  width: 80px;
  height: 80px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.content {
  flex: 1 0 auto;
  position: relative;
  margin: 40px 40px 40px 40px;
}

.sign_form {
  text-align: center;
  font-size: 20pt;
  color: #747a8d;
}
input.sign_form {
  width: 350px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  text-align: center;
  font-size: 15pt;
  color: black;
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  outline: none;
}
input:focus.sign_form {
  background-color: rgba(116, 122, 141, 0.16);
}

button.standart_buttom {
  border: 1px solid #747a8d;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
  color: #747a8d;
  padding: 2px 10px 2px 10px;

  cursor: pointer;
  outline: none;
}
button:focus.standart_buttom {
  background-color: rgba(116, 122, 141, 0.16);
}

a.forgot {
  font-size: 10pt;
  font-weight: bold;
  color: #0094ff;
  text-decoration: underline;
}

p.code {
  text-align: center;
  font-size: 18pt;
  color: #747a8d;

  margin-top: 30px;
}

footer {
  flex: 0 0 auto;
  background-color: #747a8d;
  opacity: 0.33;

  height: 40px;
  min-height: 40px;
  max-height: 40px;
  text-align: left;
  font-size: 20pt;
  font-weight: bold;
  color: #f5fdff;
  padding-top: 10px;
  padding-left: 50px;
}

header {
  background-color: #747a8d;
  height: 50px;
  min-width: 600px;
  position: relative;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.header_oak_icon {
  float: left;
  height: 50px;
  width: 50px;
  background-color: #747a8d;
}
.header_oak_name {
  float: left;
  background-color: #747a8d;
  font-weight: bold;
  font-size: 20pt;
  color: #b1ffc3;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 20px;
  border-right: 1px solid #b1ffc3;
}
.header_branch_name {
  float: left;
  background-color: #747a8d;
  font-size: 20pt;
  color: #b1ffc3;
  margin-top: 10px;
  margin-left: 15px;
}
.header_branch_icon {
  float: left;
  height: 50px;
  width: 50px;
  background-color: #747a8d;
  margin-left: 7px;
  transform: rotate(30deg);
}

.header_favorite {
  float: right;
  height: 50px;
  width: 50px;
  background-color: #747a8d;
  background-size: 50px;
  padding-right: 10px;
  border-right: 1px solid #b1ffc3;
  margin-right: 15px;
}

.header_profile {
  float: right;
  height: 50px;
  max-width: 50px;
  background-color: #747a8d;
}

.botton {
  float: left;
  color: #747a8d;
  border: 1px solid #747a8d;
  border-radius: 5px;
  font-size: 15pt;
  font-weight: bold;
  padding: 2px 10px 3px 10px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

:hover.botton {
  border-bottom: 3px solid #747a8d;
  margin-bottom: 17px;
}

a.a_botton {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

.half_article {
  max-height: 450px;
  min-height: 450px;
  min-width: 1200px;
  max-width: 1200px;
  border-radius: 5px;
  color: #747a8d;
  border: 1px solid #747a8d;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 40px 35px 40px;
  font-size: 25pt;
}
.half_article_title_inf {
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
  min-width: 1100px;
  max-width: 1100px;
  border-bottom: 1px solid #747a8d;
}
.half_article_title {
  color: black;
  float: left;
  margin-left: 20px;
}
.half_article_favorite {
  float: right;
  height: 50px;
  width: 50px;
  background-size: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

.half_article_content_inf {
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
  min-width: 1100px;
  max-width: 1100px;
  border-bottom: 1px solid #747a8d;
  padding-bottom: 20px;
}
.half_article_prewie {
  float: left;
  width: auto;
  max-width: 400px;
  max-height: 250px;
  min-height: 250px;
  background-color: #747a8d;
  margin-right: 50px;
  margin-left: 50px;
}
.half_article_text {
  max-width: 550px;
  min-width: 550px;
  color: black;
  float: left;
}

.half_article_autor {
  float: left;
  border-left: 1px solid #747a8d;
  padding-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20pt;
}
.half_article_autor_img {
  float: left;
  height: 50px;
  max-width: 50px;
  background-color: #747a8d;
}
.half_article_autor_name {
  float: left;
  color: #747a8d;
  margin-top: 10px;
  margin-left: 10px;
}
.half_article_date {
  float: right;
  color: #747a8d;
  font-size: 15pt;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 30px;
}

.article {
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
  color: #747a8d;
}
.article_title {
  display: inline;
  margin-left: 100px;
  color: black;
  font-size: 35pt;
}
.article_favorite {
  display: inline;
  float: right;
  height: 50px;
  width: 50px;
  margin-right: 50px;
}
.article_text {
  color: black;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  font-size: 20pt;
}
.article_link {
  font-size: 20pt;
  font-weight: bold;
  color: #0094ff;
  text-decoration: underline;
}
.article_subtitle {
  color: black;
  margin-top: 50px;
  padding-bottom: 20px;
  margin-left: 50px;
  font-size: 25pt;
}
.article_image {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1165px;
}

.recomended_some {
  display: block;
  min-width: 300px;
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 20px 40px 10px 40px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  color: #747a8d;
}

.recomended_some_title {
  border-bottom: 1px solid #747a8d;
  font-size: 20pt;
  padding-left: 60px;
  margin-bottom: 30px;
}

.recomended_autor {
  float: left;
  margin-bottom: 20px;
}

.recomended_autor_img {
  float: left;
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  background-color: #747a8d;
  margin-left: 60px;
}
.recomended_autor_name {
  float: left;
  color: #747a8d;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20pt;
}

.recomended_dots {
  float: right;

  margin-right: 120px;
  font-size: 30pt;
  color: #747a8d;
}

.recomended_article {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  color: #747a8d;
  font-size: 20pt;
}
.record_recomended_article {
  margin-left: 100px;
  margin-bottom: 5px;
}

.comment_area {
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
  max-width: 1000px;
  color: #747a8d;
}
.write {
  float: left;
  font-size: 20pt;
  margin-top: 15px;
}
.answer_comment {
  float: left;
  border: 1px solid #747a8d;
  border-radius: 5px;
  margin-left: 20px;
}
.answer_comment_autor_img {
  float: left;
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  background-color: #747a8d;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.answer_comment_autor_name {
  float: left;
  color: #747a8d;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20pt;
  margin-right: 20px;
}
.answer_comment_drop {
  float: left;
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

.write_comment {
  float: left;
  margin-top: 20px;
  min-width: 880px;
  max-width: 880px;
  max-height: 150px;
  min-height: 150px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  outline: none;
  font-size: 15pt;
  resize: none;
}

.send_comment {
  float: right;
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  margin-top: 25px;
  margin-right: 10px;
}

.comments {
  float: left;
  display: block;
  min-width: 880px;
  max-width: 880px;
  border-top: 1px solid #747a8d;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.bottoms_comment {
  float: left;
  max-height: 100px;
  max-width: 50px;
  margin-left: 20px;
}
.answerto_commments_bottom {
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  margin-bottom: 10px;
}
.plus_commments_bottom {
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  transform: rotate(45deg);
}

.comment {
  min-width: 900px;
  max-width: 900px;
  margin-left: 20px;
  padding-top: 50px;
}

.comment_content {
  float: left;
  min-width: 800px;
  max-width: 800px;
  margin-left: 10px;
  margin-bottom: 30px;
  border-left: 1px solid #747a8d;
}
.comment_autor_img {
  float: left;
  height: 50px;
  width: auto;
  margin-left: 20px;
  max-width: 50px;
  background-size: 50px;
  background-color: #747a8d;
}
.comment_autor_name {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20pt;
}
.comment_date {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  border-left: 1px solid #747a8d;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 15pt;
}

.comment_content_text {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 900px;
  color: black;
  font-size: 15pt;
}

.half_autor {
  display: block;
  min-width: 1300px;
  max-width: 1300px;
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 50px;
  margin-left: 100px;
}
.half_autor_img {
  float: left;
  max-height: 200px;
  min-height: 200px;
  width: auto;
  max-width: 200px;
  background-color: #747a8d;
}
.half_autor_inf {
  float: left;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 200px;
  margin-left: 20px;
  border-left: 1px solid #747a8d;
}
.half_autor_name {
  float: left;
  color: #747a8d;
  font-size: 40px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 20px;
}
.half_autor_favorite {
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 30px;
}
.half_autor_status {
  float: left;
  min-width: 1000px;
  max-width: 1000px;
  color: #747a8d;
  font-size: 30px;
  margin-left: 30px;
}

.autor_inf {
  min-width: 1200px;
  max-width: 1200px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #747a8d;
}
.autor_img {
  float: left;
  max-height: 300px;
  min-height: 300px;
  width: auto;
  max-width: 300px;
  background-color: #747a8d;
}
.autor_name {
  float: left;
  color: #747a8d;
  font-size: 40px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 40px;
}
.some_favorite_lable{
  float: right;
  margin-right: 100px;
  background-color: inherit;
  user-select: none;
  cursor: pointer;
}
.some_favorite_lable span:before{
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: 50px;
  background-image: url(/css/icons/no\ leaf.png);
}
.some_favorite_lable input[type=checkbox]:checked + span:before{
  background-image: url(/css/icons/yes\ leaf.png);
}


.autor_status {
  float: left;
  min-width: 800px;
  max-width: 800px;
  color: #747a8d;
  font-size: 30px;
  margin-left: 50px;
}

.liked {
  float: left;
  max-width: 200px;
  min-width: 200px;
  min-height: 400px;
  margin-left: 40px;
  margin-bottom: 50px;
  padding: 20px 40px 10px 40px;
  max-height: 400px;
  border: 1px solid #747a8d;
  border-radius: 5px;
}

.liked_title {
  display: inline;
  color: #747a8d;
  font-size: 16pt;
  padding-bottom: 5px;
  border-bottom: 1px solid #747a8d;
  margin-bottom: 60px;
}

.liked_autor {
  float: left;
  max-width: 200px;
  min-width: 200px;
  margin-top: 30px;
  margin-left: 20px;
}
.liked_autor_img {
  float: left;
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  background-color: #747a8d;
}
.liked_autor_name {
  float: left;
  color: #747a8d;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20pt;
}

.liked_branch {
  float: left;
  color: #747a8d;
  border: 1px solid #747a8d;
  border-radius: 5px;
  font-size: 15pt;
  font-weight: bold;
  padding: 2px 10px 3px 10px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 3px;
}

:hover.liked_branch {
  border-bottom: 3px solid #747a8d;
  margin-bottom: 1px;
}

.liced_articles {
  float: left;
  min-width: 1300px;
  max-width: 1300px;
  padding-bottom: 50px;
  border-bottom: 1px solid #747a8d;
  margin-bottom: 80px;
  margin-left: 30px;
}

.liced_articles_title {
  color: #747a8d;
  font-size: 20pt;
  padding-bottom: 5px;
  border-bottom: 1px solid #747a8d;
  margin-bottom: 60px;
}

.liced_articles_dots {
  float: left;
  font-size: 25pt;
  color: #747a8d;
  margin-left: 600px;
}

.section_inf {
  min-width: 1200px;
  max-width: 1200px;
  margin-left: 80px;
  margin-bottom: 50px;
}

.section_inf_name_favorite {
  float: left;
  min-width: 1200px;
  max-width: 1200px;
  border-bottom: 1px solid #747a8d;
  padding-bottom: 5px;
  margin-bottom: 13px;
}

.section_inf_name {
  float: left;
  color: #747a8d;
  font-size: 30pt;
  font-weight: bold;
}

.section_inf_favorite {
  margin-right: 50px;
}

.section_inf_stat {
  float: left;
  color: #747a8d;
  font-size: 15pt;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.section_inf_autor_name {
  float: right;
  color: #747a8d;
  font-size: 20pt;
  margin-right: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.section_inf_autor_img {
  float: right;
  height: 50px;
  width: auto;
  max-width: 50px;
  background-size: 50px;
  background-color: #747a8d;
  margin-right: 10px;
}

.section_inf_autor {
  float: right;
  color: #747a8d;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #747a8d;
}

.section_liked {
  margin-left: 250px;
  margin-top: 50px;
}

.section_family {
  float: right;
  margin-right: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 430px;
  min-width: 430px;
  min-height: 400px;
  max-height: 400px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 20px 40px 10px 40px;
}

.section_family_name {
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  display: inline;
  color: #747a8d;
  font-size: 16pt;
  padding-bottom: 5px;
  border-bottom: 1px solid #747a8d;
}
.section_family_branch {
  margin-left: 100px;
  margin-right: 200px;
}
.section_family_dots {
  float: right;
  margin-right: 250px;
  font-size: 30pt;
  color: #747a8d;
}

.sections {
  float: left;
  max-width: 1300px;
  min-width: 1300px;
  margin-left: 50px;
  color: #747a8d;
}

.sections_name {
  float: left;
  min-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 25pt;
  font-weight: bold;
}
.sections_autor {
  float: left;
  max-width: 800px;
  min-width: 800px;
  margin-bottom: 20px;
}
.in_section {
  float: left;
  max-width: 700px;
  min-width: 700px;
  margin-bottom: 20px;
}

.sections_favorite {
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 30px;
}

.liked_some_profile {
  margin-left: 120px;
}

.section_profile {
  margin-right: 10px;
}

.setting_section {
  float: left;
  margin-right: 300px;
  margin-left: 500px;
  margin-bottom: 20px;
}

.profile_howmuch {
  float: left;
  margin-left: 100px;
  margin-right: 400px;
  margin-bottom: 80px;
  margin-top: 10px;
  color: #747a8d;
  font-size: 15pt;
  font-weight: bold;
}
.profile_make {
  float: right;
  margin-right: 100px;
  margin-left: 500px;
  margin-bottom: 80px;
  max-width: 50px;
  min-width: 50px;
}

.out {
  float: left;
  color: #ff5656;
  border: 1px solid #ff5656;
  border-radius: 5px;
  font-size: 15pt;
  font-weight: bold;
  padding: 2px 10px 3px 10px;
  margin-right: 20px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
:hover.out {
  border-bottom: 3px solid #ff5656;
  margin-bottom: 18px;
}

.edit_profile_img {
  float: left;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  border: 1px solid #747a8d;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}
.edit_profile_img_input {
  width: auto;
  max-height: 30px;
  min-height: 30px;
  cursor: pointer;
}
.edit_profile_img_avatar {
  display: block;
  max-width: 280px;
  height: 280px;
  background-color: #747a8d;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}
.edit_profile_img_avatar:hover{
  opacity: 60%;
}

.edit_profile_name {
  float: left;
  max-width: 900px;
  min-width: 900px;
  margin-left: 50px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-size: 25pt;
  font-weight: bold;
  outline: none;
}
:focus.edit_profile_name {
  background-color: rgba(116, 122, 141, 0.16);
}
.edit_profile_status {
  float: left;
  max-width: 900px;
  min-width: 900px;
  max-height: 197px;
  min-height: 197px;
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-size: 15pt;
  outline: none;
  resize: none;
}
:focus.edit_profile_status {
  background-color: rgba(116, 122, 141, 0.16);
}

.edit_profile_botton {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

.edit_section_record {
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 500px;
  border-bottom: 1px solid #747a8d;
  padding-bottom: 5px;
  color: #747a8d;
  font-size: 15pt;
}

.edit_section_name {
  max-width: 1200px;
  min-width: 1200px;
  margin-bottom: 50px;
}

.edit_section_parent {
  float: left;
  max-width: 1220px;
  min-width: 1220px;
  max-height: 300px;
  margin-bottom: 50px;
  margin-left: 50px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  outline: none;
  color: #747a8d;
  font-size: 15pt;
  appearance: none;
  cursor: pointer;
}
:focus.edit_section_parent {
  background-color: rgba(116, 122, 141, 0.16);
}
.edit_section_parent_section {
  color: #747a8d;
  font-size: 20pt;
}

.edit_artcle_link {
  float: left;
  max-height: 50px;
  min-height: 50px;
  max-width: 1220px;
  min-width: 1220px;
  margin-bottom: 10px;
}
.edit_article_link_img {
  float: left;
  margin-right: 20px;
  width: auto;
  max-width: 35px;
  height: 35px;
}
.edit_article_link_word {
  float: left;
  max-width: 350px;
  min-width: 350px;
  margin-right: 20px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding-bottom: 5px;
  color: #0094ff;
  font-size: 15pt;
  text-decoration: underline;
  padding: 5px 10px 5px 10px;
  outline: none;
}
:focus.edit_article_link_word {
  background-color: rgba(116, 122, 141, 0.16);
}
.edit_article_link_link {
  max-width: 450px;
  min-width: 450px;
}
.edit_article_link_plus {
  transform: rotate(45deg);
}

.edit_artcle_text {
  float: left;
  max-width: 1220px;
  min-width: 1220px;
  margin-left: 50px;
  margin-bottom: 60px;
}
.edit_article_textarea {
  float: left;
  max-width: 1200px;
  min-width: 1200px;
  height: auto;
  resize: vertical;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-size: 20pt;
  outline: none;
}
.edit_article_bottons {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  width: auto;
  max-width: 35px;
  height: 35px;
  cursor: pointer;
}


.edit_artcle_subtitle {
  float: left;
  max-width: 1220px;
  min-width: 1220px;
  margin-left: 50px;
  margin-bottom: 60px;
}
.edit_article_subtitle_field {
  float: left;
  max-width: 1200px;
  min-width: 1200px;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-size: 25pt;
  outline: none;
}

.edit_article_img {
  float: left;
  max-width: 1220px;
  min-width: 1220px;
  margin-left: 50px;
  margin-bottom: 60px;
}
.edit_article_img_cont {
  float: left;
  max-width: 1200px;
  min-width: 1200px;
  height: auto;
  border: 1px solid #747a8d;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
.edit_article_img_prev {
  display: block;
  max-width: 1200px;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.edit_article_img_prev:hover{
  opacity: 60%;
}

.edit_article_img_down {
  width: 1200px;
  cursor: pointer;
}

.edit_article_img_down_icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.edit_article_drop_img{
  float: left;
  margin-bottom: 20px;
  margin-right: 1150px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.edit_article_icon{
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: auto;
}
