@model List<Article>

<div>
    @foreach (var item in Model)
     {
        @await Html.PartialAsync("_HalfArticlePartial", item)
     }

    <div class="botton">
        <a class="a_botton" asp-action="Articles" asp-controller="Articles" asp-route-start="@(--ViewBag.Start)">
            Назад
        </a>
    </div>

    <div class="botton">
        <a class="a_botton" asp-action="Articles" asp-controller="Articles" asp-route-start="@(ViewBag.Start + 2)">
            Ещё
        </a>
    </div>
</div>
