@model List<Article>

<div>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_HalfArticlePartial", item)
    }

    <div class="botton">
        <a class="a_botton" asp-controller="Articles" asp-action="ArticlesSection"
           asp-route-start="@(--ViewBag.Start)">
            Назад
        </a>
    </div>

    <div class="botton">
        <a class="a_botton" asp-controller="Articles" asp-action="ArticlesSection"
           asp-route-start="@((Model.Count != 0) ? ViewBag.Start + 2 : 0)">
            Ещё
        </a>
    </div>
</div>