@model OAK.Models.Login.CodeModel

@{
    Layout = "_LayoutLogin";
}

<form class="sign_form" asp-controller="Login" asp-action="Code" method="post">

    <br>
    <label asp-for="Code">Полученный по email код</label>
    <br>
    <input class="sign_input" asp-for="Code">
    <br>
    <span asp-validation-for="Code"></span>
    <br>

    <br>
    <button class="standart_buttom" type="submit">Продолжить</button>
    <br>
    <br>


    <a class="forgot" asp-controller="Login" asp-action="SignUp">Регистрация</a>
    <br>
    <br>
    <a class="forgot" asp-controller="Login" asp-action="SignIn">Войти</a>
    <br>
    <br>
    <a class="forgot" asp-controller="Articles" asp-action="All">Доступ без входа</a>
    <br>
    <br>

</form>