@model OAK.Models.Login.ForgotPasswordModel
@{
    Layout = "_LayoutLogin";
}

<form class="sign_form" asp-controller="Login" asp-action="ForgotPassword" method="post">

    <br>
    <label asp-for="Email">Электронная почта</label>
    <br>
    <input class="sign_input" asp-for="Email">
    <br>
    <span asp-validation-for="Email"></span>
    <br>

    <br>
    <button class="standart_buttom" type="submit">Продолжить</button>
    <br>
    <br>


    <a class="forgot" asp-controller="Login" asp-action="SignUp">Регистрация</a>
    <br>
    <br>
    <a class="forgot" asp-controller="Login" asp-action="SignIn">Войти</a>
    <br>
    <br>
    <a class="forgot" asp-controller="Articles" asp-action="News">Доступ без входа</a>
    <br>
    <br>
    <a class="forgot"  href="https://support.google.com/accounts/answer/7682439?hl=ru">Не помню Email</a>
    <br>
    <br>

</form>