@model OAK.Models.Login.EmailModel

@{
    Layout = "_LayoutLogin";
}

<form class="sign_form" asp-action="ForgotPassword" asp-controller="Login" method="post">

    <br>
    <label asp-for="Email">Электронная почта</label>
    <br>
    <input class="sign_input" asp-for="Email">
    <br>
    <span asp-validation-for="Email"></span>
    <br>

    <br>
    <button class="standart_buttom" type="submit">Продолжить</button>
    <br>
    <br>

    <p>
        <a class="forgot" asp-action="SignIn" asp-controller="Login">
            Войти
        </a>
    </p>
    <br>

    <p>
        <a class="forgot" asp-action="Registration" asp-controller="Login">
            Регистрация
        </a>
    </p>
    <br>

    <p>
        <a class="forgot" asp-action="Articles" asp-controller="Articles">
            Доступ без входа
        </a>
    </p>
    <br>

    <p>
        <a class="forgot" href="https://support.google.com/accounts/answer/7682439?hl=ru">
            Не помню Email
        </a>
    </p>
    <br>



</form>