@model OAK.Models.Login.SingInModel
@{
    Layout = "_LayoutLogin";
}

<form class="sign_form" asp-controller="Login" asp-action="SignIn" method="post">

    <br>
    <label asp-for="Email">Электронная почта</label>
    <br>
    <input class="sign_input" asp-for="Email">
    <br>
    <span asp-validation-for="Email"></span>
    <br>

    <br>
    <label asp-for="Password">Пароль</label>
    <br>
    <input class="sign_input" asp-for="Password">
    <br>
    <span asp-validation-for="Password"></span>
    <br>

    <br>
    <button class="standart_buttom" type="submit">Войти</button>
    <br>
    <br>


    <a class="forgot" asp-controller="Login" asp-action="SignUp">Регистрация</a>
    <br>
    <br>
    <a class="forgot" asp-controller="Articles" asp-action="News">Доступ без входа</a>
    <br>
    <br>
    <a class="forgot" asp-controller="Login" asp-action="ForgotPassword">Не помню пароль</a>
    <br>
    <br>

</form>